---
import AuthLayout from '../../../layouts/AuthLayout.astro'
import { LoginForm } from './ui/LoginForm'
---

<AuthLayout
	position="right"
	title="Bienvenido"
	description="Maquina introduce tus datos">
	<!-- Form -->
	<LoginForm client:only="preact" />

	<!-- Footer -->
	<div class="text-center">
		<span class="text-xs text-gray-400 font-semibold"
			>Si no tienes cuenta regístrate maquina</span
		>
		<a href="/auth/register" class="text-xs font-semibold text-orange-primary"
			>Registrar</a
		>
	</div>
</AuthLayout>
