---
import MainLayout from '../../layouts/MainLayout.astro'
---

<MainLayout title="Lista de todos">
	<section>
		<ul class="todolist-container w-full">
			<li>Hola</li>
		</ul>
	</section>
</MainLayout>

<script>
	import { getTodos } from '../../todo'

	const listResults = document.querySelector('.todolist-container')

	;(async () => {
		try {
			const { todos } = await getTodos({})

			todos.forEach((todo) => {
				const listElement = document.createElement('li')
				listElement.innerHTML = `
                <article>
                    <h3>${todo.title}</h3>
                    <p>${todo.description}</p>
                    <input type="checkbox" ${todo.done ? 'checked' : ''}>
                </article>
            `
				listResults?.appendChild(listElement)
			})
		} catch (error) {
			console.error('Error al hacer el fetch:', error)
		}
	})()
</script>
