---
import { getSession } from 'auth-astro/server'
import Layout from '../../../layouts/TodoLayout.astro'
import { getTodos } from '../../../todo'
import TodoCard from '../../../components/TodoCard.astro'

const session = await getSession(Astro.request)

if (!session) {
	return Astro.redirect('/auth/login')
}

const token = session.user.token

const { todos } = await getTodos({ token })
---

<Layout title="Lista de Tareas">
	<section>
		<ul class="w-full flex flex-col gap-5">
			{todos.map((todo) => <TodoCard todo={todo} />)}
		</ul>
	</section>
</Layout>
