---
interface Props {
	title: string
	description: string
}

const { description, title } = Astro.props
---

<div class="flex gap-6 border-b border-gray-600 py-2">
	<div class="text-secondary max-w-56 w-full">
		<h3 class="font-bold text-lg mb-1 text-primary">{title}</h3>
		<p class="text-sm">
			{description}
		</p>
	</div>
	<div class="flex items-center w-full justify-end">
		<slot />
	</div>
</div>
