---
import { getSession } from 'auth-astro/server'
import Layout from '../../../layouts/TodoLayout.astro'
import CheckIcon from '../../../components/icons/CheckIcon.astro'
import { NewTodoForm } from './ui/NewTodoForm'
import SpinIcon from '../../../components/icons/SpinIcon.astro'
import InfoCircleIcon from '../../../components/icons/InfoCircleIcon.astro'

const session = await getSession(Astro.request)

if (!session) {
	return Astro.redirect('/auth/login')
}
---

<Layout title="Agregar nueva tarea">
	<div class="w-full mx-auto text-center">
		<NewTodoForm client:only="preact">
			<CheckIcon class="size-3" slot="checkIcon" />
			<SpinIcon class="size-6 animate-spin" slot="spinnerIcon" />
			<InfoCircleIcon class="size-5" slot="alertIcon" />
		</NewTodoForm>
	</div>
</Layout>
