---
import InfoCircleIcon from '../../../components/icons/InfoCircleIcon.astro'
import SpinIcon from '../../../components/icons/SpinIcon.astro'
import AuthLayout from '../../../layouts/AuthLayout.astro'
import { RegisterForm } from './ui/RegisterForm.tsx'
---

<AuthLayout
	title="Bienvenido"
	description="Maquina completa el formulario para crear tu cuenta">
	<!-- Form -->
	<RegisterForm client:only="preact">
		<SpinIcon class="size-6 animate-spin" slot="spinnerIcon" />
		<InfoCircleIcon class="size-5" slot="alertIcon" />
	</RegisterForm>

	<!-- Footer -->
	<div class="text-center">
		<span class="text-xs text-gray-400 font-semibold">
			¿Ya tines cuenta maquina?
		</span>
		<a href="/auth/login" class="text-xs font-semibold text-orange-primary">
			Registrar
		</a>
	</div>
</AuthLayout>
