---
import MainLayout from '../../layouts/MainLayout.astro'
import CheckIcon from '../../components/icons/CheckIcon.astro'
---

<MainLayout title="">
	<div class="w-full mx-auto text-center">
		<form id="form-new-todo" class="flex flex-col gap-5 w-full">
			<input
				id="title"
				name="title"
				type="text"
				placeholder="Titulo de la tarea"
				class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-teal-500"
			/>
			<textarea
				id="description"
				name="description"
				rows="5"
				placeholder="Descripción de la tarea"
				class="w-full border border-gray-300 rounded-md py-2 px-3 focus:outline-none focus:border-teal-500"
			></textarea>
			<div class="inline-flex items-center">
				<label
					class="relative flex cursor-pointer items-center rounded-full p-3 gap-5"
					for="checkbox-5"
					data-ripple-dark="true">
					<input
						id="done"
						name="done"
						type="checkbox"
						class="before:content[''] peer relative h-5 w-5 cursor-pointer appearance-none rounded-md border border-blue-gray-200 transition-all before:absolute before:top-2/4 before:left-2/4 before:block before:h-12 before:w-12 before:-translate-y-2/4 before:-translate-x-2/4 before:rounded-full before:bg-blue-gray-500 before:opacity-0 before:transition-opacity checked:border-teal-500 checked:bg-teal-500 checked:before:bg-teal-500 hover:before:opacity-10"
					/>
					<div
						class="pointer-events-none absolute top-2/4 left-[16px] -translate-y-2/4 text-white opacity-0 transition-opacity peer-checked:opacity-100">
						<CheckIcon class="size-3" />
					</div>
					<p>¿Marcar como completada?</p>
				</label>
			</div>
			<button
				class="py-3 text-base font-medium rounded text-white bg-blue-800 w-full hover:bg-blue-700 transition duration-300"
				type="submit">Agregar</button
			>
		</form>
	</div>
</MainLayout>

<script>
	import { setNewTodo } from '../../todo'

	const form = document.querySelector('#form-new-todo') as HTMLFormElement

	const getFormValues = () => {
		const title = form.elements.namedItem('title') as HTMLInputElement
		const description = form.elements.namedItem(
			'description'
		) as HTMLInputElement
		const done = form.elements.namedItem('done') as HTMLInputElement

		return {
			title: title.value,
			description: description.value,
			done: done.checked,
		}
	}

	const onSubmit = async (e: SubmitEvent) => {
		e.preventDefault()

		const values = getFormValues()

		const hola = await setNewTodo(values)

		console.log(hola)
	}

	form?.addEventListener('submit', onSubmit)
</script>
