---

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>TODO - APP</title>
	</head>
	<body
		class="flex justify-center p-10 pt-20 w-full min-h-screen bg-colors bg-no-repeat bg-cover">
		<main
			class="max-w-[500px] flex flex-col items-center w-full backdrop-blur-md bg-white/40 shadow-lg rounded-xl p-10">
			<h1 class="font-bold text-balance text-4xl">TODO - APP</h1>
			<p class="mb-10">Hecho por el q y el siac</p>
			<section class="w-full">
				<slot />
			</section>
		</main>
	</body>
</html>
