<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Inicio</title>
	</head>
	<body class="bg-[#121112]">
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	.btn {
		@apply rounded-full px-6 py-2 transition-colors shadow-2xl cursor-pointer flex gap-2 items-center justify-center;
	}

	.btn-gray {
		@apply bg-tertiary text-[#272727];
	}

	.btn-gray:hover {
		@apply bg-[#323232] text-[#dddddd];
	}

	.btn-danger {
		@apply bg-[#ff3333] text-white;
	}

	.btn-danger:hover {
		@apply bg-[#cf2d2dfd];
	}

	.btn-orange {
		@apply bg-[#ff7a00] text-white;
	}

	.btn-orange:hover {
		@apply bg-[#ff9900];
	}
</style>
